Repository xlcnd/isbnlib-bnf, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

.github/labeler.yml:

repo:
  - ./*

test:
  - isbnlib_bnf/test/*

core:
  - isbnlib_bnf/*

qa -- fix tests for 'github'
  isbnlib_bnf/test/test_metadata.py
  tox.ini
Labels: repo, test

add badge 'github'
  README.rst
Labels: repo

fix link
  README.rst
Labels: repo

fix python version for 'checkers'
  tox.ini
Labels: repo

create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
  isbnlib_bnf/_bnf.py
Labels: core

fix plugin's metadata
  isbnlib_bnf/__init__.py
Labels: core

[qa] cfg
  .gitignore
  SECURITY.md
  requirements-appveyor.in
  requirements-dev.in
Labels: repo

[qa] py3.6+ for appveyor
  .appveyor.yml
Labels: repo

[qa] py3.6+ for appveyor
  .appveyor.yml
Labels: repo

[qabot] update reqs
  requirements-appveyor.txt
  requirements-dev.txt
Labels: repo

[qa] py3.6+ for appveyor
  .appveyor.yml
  tox.ini
Labels: repo

[qa] py3.6+ for travis
  .travis.yml
Labels: repo

[qa] py3.6+ for travis
  tox.ini
Labels: repo

simplify project
  .appveyor.yml
  .github/workflows/basictests.yml
  .gitignore
  .travis.yml
  requirements-appveyor.txt
  requirements-dev.txt
Labels: repo

switch to pytest
  isbnlib_bnf/test/test_metadata.py
  requirements-dev.in
Labels: repo, test

switch to pytest
  CONTRIBUTING.md
  setup.cfg
  setup.py
Labels: repo

switch to pytest
  tox.ini
Labels: repo

simplify project
  README.rst
Labels: repo

simplify project
  CHANGES.txt
Labels: repo

release 1.0.2
  CHANGES.txt
Labels: repo

init v1.0.3
  CHANGES.txt
  isbnlib_bnf/__init__.py
  setup.py
Labels: repo, core

add Github release
  .github/workflows/create-release.yaml
Labels: none

require isbnlib-3.10.9+
  requirements.txt
Labels: repo

simplify project
  setup.cfg
Labels: repo

simplify project
  tox-dev.ini
Labels: repo

simplify project
  .editorconfig
  .gitignore
  .project
  .style.yapf
  .yamllint
Labels: repo

add install instructions
  README.rst
Labels: repo

fix project configuration
  CHANGES.txt
  release.md
Labels: repo

release 1.0.3
  CHANGES.txt
Labels: repo

init v1.0.4
  CHANGES.txt
  isbnlib_bnf/__init__.py
  release.md
  setup.py
Labels: repo, core

[qabot] add dependabot
  .github/dependabot.yml
Labels: none

update copyright
  setup.py
Labels: repo

[qabot] update reqs
  requirements-dev.txt
Labels: repo

[qa] update
  requirements-dev.txt
Labels: repo

add 'py3.10' to 'basictests'
  .github/workflows/basictests.yml
Labels: none
